/* Service Mac Landing Page Styles */

.product-card-button-mobile {
    display: none !important;
}

.mobile-callout {
    display: none;
}

.Mobile_Footer_Container {
    display: none;
}

.Footer_Container {
    max-width: 1199px;
    margin: auto;
}

.Footer_Wrapper {
    grid-area: 86 / 1 / span 22 / span 48 !important;
}

/* Extra Large */
@media (min-width: 1200px) { 
    .hero .styled.outer-container {
        background-position: 100% 35% !important;
    }
    
    .nd_logo {
        grid-area: 1 / 2 / span 3 / span 4 !important;
    }
    
    .nd_logo img {
        padding-top: 5px !important;
    }
}

/* Medium & Large */
@media (min-width: 768px) and (max-width: 1199px) { 
    .product-card-1 {
        grid-area: auto / 4 / auto / span 12 !important;
        min-height: 260px !important;
        max-height: 260px !important;
    }
    .product-card-2 {
        grid-area: auto / 19 / auto / span 12 !important;
        min-height: 260px !important;
        max-height: 260px !important;
    }
    .product-card-3 {
        grid-area: auto / 34 / auto / span 12 !important;
        min-height: 260px !important;
        max-height: 260px !important;
    }
    .product-card-4 {
        grid-area: auto / 4 / 9 / span 42 !important;
        min-height: 260px !important;
        max-height: 260px !important;
    }
    
    .hero-heading {
      grid-area: 3/ 5 / auto / span 42 !important;
    }
    
  .hero-heading .label-container {
      font-size: 48px !important;
      align-items: center !important;
    }
    
    .hero-callout {
        grid-area: auto / 6 / auto / span 36 !important;
    }
    
    .Space-Container1 {
        min-height: 50px !important;
        max-height: 50px !important;
    }
    
    .small-spacer {
        display: none !important
    }
    
    .quick-facts .label-container {
        font-size: 16px !important;
    }
    
    .product-card-space {
        min-height: 20px !important;
        max-height: 20px !important;
    }
    
    .product-card-title .label-container {
        font-size: 24px !important;
    }
    
    .product-card-description .label-container {
        font-size: 16px !important;
    }
    
    .product-card-description {
        grid-area: auto / 4 / auto / span 42 !important;
    }
    
    .overlap-image img {
        height: 100% !important;
    }
    
    .final-cta-title {
        grid-area: 2 / 26 / span 5 / span 18 !important;
    }
    .final-cta-title .label-container {
        font-size: 21px !important;
    }
    
    .final-cta-text {
        grid-area: 7 / 26 / span 5 / span 18 !important;
    }
    
    .final-cta-text .label-container {
        font-size: 14px !important;
    }
    
    .Footer_Wrapper {
        grid-area: 90 / 1 / span 22 / span 48 !important;
    }

}

@media  (max-width: 991px) { 
    
    .Mobile_Footer_Container {
        display: block;
    }
    
    .Footer_Container, .Footer_Wrapper {
        display: none !important;
    }
}


/* Small & Extra Small */
@media (max-width: 767px) { 

  .nd_logo {
    grid-area: 1 / 3 / span 3 / span 15 !important;
  }
    
  .hero-content {
      grid-area: 1 / 1 / span 34 / span 48 !important;
    }
    
.hero-heading {
      grid-area: 3/ 5 / auto / span 35 !important;
    }
    
  .hero-heading .label-container {
      font-size: 36px !important;
      align-items: center !important;
    }
    
    
    .hero {
        min-height: 420px !important;
        max-height: 420px !important;
    }
    
    .hero-callout {
        display: none !important;
    }
    
    .top-bar-cta .label-container {
        font-size: 14px !importantl
    }
    
    .product-card {
        grid-area: auto / 4 / auto / span 42 !important;
        min-height: 130px !important;
        max-height: 130px !important;
        margin-bottom: 25px !important;
    }
    
    .product-card-title {
        min-height: 50px !important;
        max-height 50px !important;
        grid-area: span 2 / 4 / span 2 / span 38 !important;
    }
    
    .product-card-title .label-container {
        font-size: 18px !important;
    }
    
    .product-card-title .label-container span {
        text-align: left !important;
    }
    
    .product-card-description {
        min-height: 50px !important;
        max-height: 50px !important;
        grid-area: span 2 / 4 / span 2 / span 40 !important;
    }
    
    .product-card-description .label-container {
        font-size: 14px !important;
        font-weight: 400 !important;
    }
    
    .product-card-description .label-container span {
        text-align: left !important;
    }
    
    .product-card-button-mobile {
    display: block !important;
}
    
    .product-card-space {
        min-height: 10px !important;
        max-height: 10px !important;
    }
    
    .product-card-button {
        display: none !important;
    }
    
    .quick-facts {
        min-height: 80px !important;
    }
    
    .quick-facts .label-container {
        line-height: 1.5 !important;
        font-size: 16px !important;
    }
    
    .Space-Container1 {
        min-height: 50px !important;
        max-height: 50px !important;
    }
    
    .small-spacer {
        display: none !important;
    }
    
    .overlap-image {
        display: none !important;
    }
    
    .final-cta-title {
        grid-area: 2 / 5 / span 5 / span 40 !important;
    }
    
    .final-cta-title .label-container {
        font-size: 21px !important;
    }
    
    .final-cta-text {
        grid-area: 7 / 5 / span 6 / span 39 !important;
    }
    
    .final-cta-text .label-container {
        font-size: 13px !important;
    }
    
    .mobile-callout {
        display: block !important;
    }
    
    .gradient-feather {
        background: linear-gradient(0deg, rgba(0,31,63,1) 0%, rgba(255,255,255,0) 100%) !important;
    }
    
    /*.Mobile_Footer_Container {
        grid-area: 90 / 1 / span 27 / span 48 !important;
    }*/
        
}
