@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,700;1,500&display=swap');

html {
  font-family: 'Jost', sans-serif;
}

body {
  font-family: 'Jost', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, li, ol, ul, div {
    font-family: 'Jost', sans-serif;
}
